body{
    background: url("../images/darkness.png");
    color :white;
    font-family: 'Jua', sans-serif;
}
.toptext{
    
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-variant: normal;
}
.title{
    background-color:#ffdb4d;
    width: 40%;
    margin: 0 auto;
}
.bottomtext{
    color : white;  
    text-align : center;
    font-size : 20px;
    font-variant: inherit;

}
#counting{
    color : white;
    float: left;
   
}
#scores {
    color: white;
    width : 100px;
    height : 100px;
    background: #ffd633;
    position : static;
    float: right;
    text-align: center;
    font-size: 30px;
}
#green-part{
    color: white;
}
#lag-greenpart{
    color: white;

}
.col-lg-1{
    margin-top: 50px;

}
#green-part{
    margin-top : 50px;
    float: right;
    font-size: 25px;
}
#lag-greenpart{
    margin-top: 20px;
    background : #ffd633;
    width : 200px;
    height :100px;
    color: white;
    float: right;
    text-align: center;
    font-size: 30px;

}

@media screen and (max-width: 980px){
    
}

@media screen and (max-width : 760px){

}

@media screen and (max-width : 640px){

}

